.home-container {
    background-image: url('/public/image/background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 20px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 배너 스타일 */
.home-banner {
    background-size: 110% auto;
    background-position: center 28%;
    background-repeat: no-repeat;
    height: 260px;
    width: 100%;
    border-radius: 20px;
    max-width: 1000px;
}

/* 두 번째 줄 컨텐츠 박스 (DayBox, LatestPosts, AuthBox 등) */
.second-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 40px;
    width: 100%;
    max-width: 1000px;
}

/* 반응형 적용 */
@media (max-width: 768px) {
    .home-container {
        padding: 10px;
    }

    .home-banner {
        height: 200px;
        background-size: cover;
    }

    .second-container {
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
}
